.icon{
    font-size: 2em;
}
body{
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(2, 148, 216) 100%);
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    position: fixed;
    top: 150px;
}
.box{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text{
    color: white;
    text-align: center;
}